{:paths ["src"]
 :deps  {org.clojure/clojure    {:mvn/version "1.12.0"}
         ring/ring-core          {:mvn/version "1.12.2"}
         ring/ring-jetty-adapter {:mvn/version "1.12.2"}
         metosin/reitit-ring     {:mvn/version "0.7.2"}
         cheshire/cheshire       {:mvn/version "5.13.0"}
         ring-cors/ring-cors     {:mvn/version "0.1.13"}}
 :aliases
 {:run    {:main-opts ["-m" "glb-analytics.core"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
             :exec-fn      hf.depstar/uberjar
             :exec-args    {:aot  true
                            :main glb-analytics.core
                            :jar  "glb-analytics.jar"}}}}
